.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 52px;
    margin: 0 auto;
    padding-top: 28px;
    max-width: 1920px;
    padding: 28px 48px 0 48px;
}

@media screen and (max-width: 768px) {
    .header {
    padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .header {
    padding: 16px 16px 0 16px;
    height: 42px;
    }
}